.table-container table {
    @apply w-full;
    border-collapse: separate;
    border-spacing: 0;
}

.table-container table span {
    @apply truncate;
}

.table-container thead th {
    @apply text-sm font-normal text-sm;
    @apply bg-table-header-light dark:bg-table-header-dark;
    @apply border-t border-b border-table-border-light dark:border-table-border-dark;
}

.table-container thead th:first-child {
    @apply pl-6 rounded rounded-r-none rounded-b-none;
    @apply border-l;
}

.table-container thead th:last-child {
    @apply pr-6 rounded rounded-l-none rounded-b-none;
    @apply border-r;
}

.table-container tbody tr {
    @apply bg-table-body-light dark:bg-table-body-dark;
}

.table-container tbody .tr--link {
    @apply cursor-pointer transition-colors;
}

.table-container tbody .tr--link:hover {
    @apply bg-table-header-light dark:bg-table-header-dark;
}

.table-container tbody td {
    @apply border-b p-3 px-4 text-sm text-gray-1100 border-table-border-light dark:border-table-border-dark;
}

.table-container tbody td:first-child {
    @apply pl-6 border-b border-l border-table-border-light dark:border-table-border-dark;
}

.table-container tbody td:last-child {
    @apply pr-6 border-b border-r border-table-border-light dark:border-table-border-dark;
}

.table-container tbody tr:last-child td:first-child {
    @apply rounded rounded-r-none rounded-t-none;
}

.table-container tbody tr:last-child td:last-child {
    @apply rounded rounded-l-none rounded-t-none;
}

.table-container--borderless thead th {
    border-top: none;
}

.table-container--borderless thead th:first-child {
    border-left: none;
}

.table-container--borderless thead th:last-child {
    border-right: none;
}

.table-container--borderless tbody td:first-child {
    border-left: none;
}

.table-container--borderless tbody td:last-child {
    border-right: none;
}

.table-container--borderless tbody tr:last-child td {
    border-bottom: none;
}
